<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h6>Java</h6>
    <pre>
        <code class="language-javascript">
            alert()
            document.getElementById("id")
    
        </code>

    </pre>
    <h6>python</h6>
    <pre>
        <code class="language-python">
            class Thisclass:
            self._init_(self,one,two);
            self.one=one
            self.two=two
    
        </code>

    </pre>
    <h6>HTML</h6>
    <pre>

        <code class="language-html">
            &lt;table&gt;
&lt;tr&gt;
&lt;td&gt;&lt;/td&gt;
&lt;td&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
    
        </code>
    </pre>
    
</body>
</html>